* {
	margin: 50px;
	padding: 0;
	font-family: 'poppins', sans-serif;
	box-sizing: border-box;
}

body{
	background: #FA392A;
}

h1{
	color: #ffffff;
	text-align: center;
}

.btn{
	background: #ffffff;
	color: #FA392A;
	font-size: 16px;
	font-weight: 500;
	width: 100%;
	border: 1px solid #FA392A;
	padding: 20px;
	margin: 10px 0;
	text-align: justify;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s;
}

a {
    text-decoration: none;  /* Elimina el subrayado */
    color: black;         /* Hereda el color del texto */
}

a:hover {
    text-decoration: none;  /* No subraya el enlace al pasar el mouse */
    color: inherit;         /* No cambia el color al pasar el mouse */
}